body{
  z-index: 1;
}

.navbar-nav .nav-link {
  margin-right: 30px; 
  font-size: 12px;
}
.navbar{
  position: fixed;
  background-color: white;
  width: 100%;
}
.navbar-brand{
  padding-left: 20px;
  height: 65px;
  width: 78px;
}
.navbar-nav{
  position: fixed;
  margin-left: 20px;
}
.nav-item .nav-link{
  font-size: 13px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
  border-radius: 3px;
  padding-right: 20px;
  transition: 0.5s ease;
}
.nav-item .nav-link:hover{
  background: #16c79e;
  color: white;
}
#navbar form button{
  background: #16c79e;
  color: white;
  border: none;
}
.navbar-nav {
margin-left:33%;
}

.nav-item{
  font-family: SST,helvetica,arial,sans-serif;
  font-size: 18px;
  text-decoration: none;
 
}
.mayor-img {
  width: 88%;
  margin-bottom: 30px;
}
.city-name {
  color: black;
  font-family: SST,helvetica,arial,sans-serif;
    font-size: 18px;
    text-decoration: none;
}

#contact{
  padding:100px;
  font-family: SST,helvetica,arial,sans-serif;
}

#contact p {
  font-family: SST,helvetica,arial,sans-serif;
  font-size: 19px;
  padding-top:20px;
}
table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  @media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }
    .table-responsive table {
        width: 100%;
    }
    .table-responsive table thead {
        display: none;
    }
    .table-responsive table tbody tr {
        display: block;
        border-bottom: 1px solid #ddd;
    }
    .table-responsive table tbody td {
        display: block;
        text-align: left;
    }
    .table-responsive table tbody td:before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 50%;
    }
}
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #16c79e;
    color: rgb(255, 255, 255);
    margin: 0 auto; 
    width: 100%; 
  }